<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.libertsolutions.libertvendas.app"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".LibertVendasApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Libert.Theme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute"
        >

        <!-- Main/Home screen -->
        <activity
            android:name=".presentation.home.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/Libert.Theme.NoActionBar"
            android:launchMode="singleTop"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Settings screen -->
        <activity
            android:name=".presentation.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:noHistory="true"
            android:theme="@style/Libert.Theme.NoActionBar.Settings"
            />

        <!-- Login screen -->
        <activity
            android:name=".presentation.login.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/title_login_activity"
            android:noHistory="true"
            android:theme="@style/Libert.Theme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize"
            />

        <!-- Data Importation screen -->
        <activity
            android:name=".presentation.importacao.ImportacaoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/title_activity_importacao"
            android:noHistory="true"
            android:theme="@style/Libert.Theme.NoActionBar"
            />

        <!-- New Customer screen -->
        <activity
            android:name=".presentation.cadastrocliente.CadastroClienteActivity"
            android:label="@string/title_activity_cadastro_cliente"
            android:theme="@style/Libert.Theme.NoActionBar"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
            />

        <!-- New Order screen -->
        <activity
            android:name=".presentation.cadastropedido.CadastroPedidoActivity"
            android:label="@string/title_activity_pedido"
            android:theme="@style/Libert.Theme.NoActionBar"
            android:parentActivityName=".presentation.home.HomeActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.home.HomeActivity"
                />
        </activity>

        <!-- Fabric API Key -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="88453d956cd483a917c0c313a6a47582a0853bcf"
            />
    </application>
</manifest>