<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.libertsolutions.libertvendas.app"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".LibertVendasApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/LibertApp.Theme"
        >

        <!-- Main/Home screen -->
        <activity
            android:name=".presentation.home.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/LibertApp.Theme.NoActionBar"
            android:launchMode="singleTop"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:windowSoftInputMode="adjustPan|stateHidden"
            >

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Settings screen -->
        <activity
            android:name=".presentation.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/LibertApp.Theme.NoActionBar.Settings"
            android:noHistory="true"
            android:parentActivityName=".presentation.home.HomeActivity"
            >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.home.HomeActivity"
                />
        </activity>

        <!-- Login screen -->
        <activity
            android:name=".presentation.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/LibertApp.Theme.NoActionBar"
            android:noHistory="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize"
            />

        <!-- Data Importation screen -->
        <activity
            android:name=".presentation.importacao.ImportacaoActivity"
            android:label="@string/title_activity_importacao"
            android:theme="@style/LibertApp.Theme.NoActionBar"
            android:noHistory="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
            android:windowSoftInputMode="stateHidden"
            />

        <!-- New Customer screen -->
        <activity
            android:name=".presentation.cadastrocliente.CadastroClienteActivity"
            android:label="@string/title_activity_cadastro_cliente"
            android:theme="@style/LibertApp.Theme.NoActionBar"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
            android:parentActivityName=".presentation.home.HomeActivity"
            >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.home.HomeActivity"
                />
        </activity>

        <!-- New Order screen -->
        <activity
            android:name=".presentation.cadastropedido.CadastroPedidoActivity"
            android:label="@string/title_activity_pedido"
            android:theme="@style/LibertApp.Theme.NoActionBar"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout"
            android:parentActivityName=".presentation.home.HomeActivity"
            >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.home.HomeActivity"
                />
        </activity>

        <service
            android:name=".data.sync.SyncTaskService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE"
            >

            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>
    </application>

</manifest>
